a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,li,menu,nav,ol,section,ul
{
	display: block
}

li,ol,ul
{
	list-style: none
}

blockquote,q
{
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before
{
	content: '';
	content: none
}

table
{
	border-collapse: collapse;
	border-spacing: 0
}

input
{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	box-sizing: border-box;
	border: none;
	background: none;
	border-radius: 0 0 0 0;
	box-shadow: none;
	display: block
}

@font-face
{
	font-family:Ubuntu-Light;src:url(https://dl.dropbox.com/u/1220078/ubuntu-new/Ubuntu-Light-webfont.eot);src:url(https://dl.dropbox.com/u/1220078/ubuntu-new/Ubuntu-Light-webfont.eot#iefix) format("embedded-opentype"),url(https://dl.dropbox.com/u/1220078/ubuntu-new/Ubuntu-Light-webfont.woff) format("woff"),url(https://dl.dropbox.com/u/1220078/ubuntu-new/Ubuntu-Light-webfont.ttf) format("truetype"),url(https://dl.dropbox.com/u/1220078/ubuntu-new/Ubuntu-Light-webfont.svg#Ubuntu-Light) format("svg");font-weight:300;font-style:normal
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
@	font-face
	{
		font-family: Ubuntu-Light;
		src: url(https://dl.dropbox.com/u/1220078/ubuntu-new/Ubuntu-Light-webfont.svg#Ubuntu-Light) format("svg")
	}
}

p.light
{
	font-family: Ubuntu-Light,arial,sans-serif;
	font-weight: 300;
	font-style: normal
}

.input-block
{
	display: block;
	box-sizing: border-box;
	font-size: .7rem;
	position: relative;
	margin: .5rem .8rem;
	padding: .6rem .8rem;
	background-color: #fff;
	border-radius: .2rem;
	border: 1px solid transparent
}

.input-block.invalid
{
	border: 1px solid #eb4f38
}

.input-block .label
{
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 1rem;
	line-height: 2.6rem;
	background-color: #fafafa;
	color: #999;
	height: 100%;
	line-height: 2.4rem
}

.input-block input
{
	width: 13rem
}

.input-block input[type=tel]
{
	margin-left: 5.4rem;
	width: 10rem
}

.input-block .button
{
	position: absolute;
	right: .2rem;
	top: .2rem;
	height: 2rem;
	line-height: 2rem
}

.input-block .button.disable
{
	background-color: #ccc
}

.button.btn-commit
{
	height: 2.6rem;
	line-height: 2.6rem
}

.page-need-data
{
	visibility: hidden
}

.button-nav-home
{
	color: #929292!important;
	padding: 0 .3rem 0 .5rem!important
}

.noticebar
{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	color: #acc92c;
	font-size: .6rem;
	background-color: rgba(80,80,80,.8);
	text-align: center;
	height: 1.4rem;
	line-height: 1.4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.content-block
{
	background-color: #fff;
	position: relative;
	margin: .8rem 0;
	padding: .7rem
}

.content-block.block-transparent
{
	background-color: transparent
}

.content-block.block-no-margin
{
	margin: 0
}

.content-block.block-center
{
	margin: 0 .8rem
}

.content-block.block-no-padding
{
	padding: 0
}

.content-block.block-goods .block-title
{
	text-align: center;
	color: #333;
	padding: .2rem 0 1rem
}

.content-block.block-goods .block-more
{
	position: absolute;
	right: .8rem;
	top: 1.1rem;
	font-size: .7rem;
	color: #acc92c
}

.content-block.block-goods img
{
	display: block;
	width: 100%;
	border-radius: 8px
}

.goods-list
{
	position: relative
}

.goods-list .goods
{
	position: relative;
	margin-bottom: 1rem
}

.goods-list .goods-name
{
	color: #333;
	margin: .4rem 0 .1rem;
	font-size: .7rem;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden
}

.goods-list .goods-price
{
	color: #ff9200
}

.goods-list .goods-discount
{
	font-size: .6rem;
	color: #ccc
}

.goods-list .i-cart-circle
{
	float: right;
	position: absolute;
	right: 0;
	margin-top: -.4rem;
	font-size: 1rem;
	width: 2rem;
	height: 2rem;
	background-size: 50%;
	background-position: 50%;
	color: #ccc
}

.topnaturala-say
{
	padding-top: 0!important;
	padding-bottom: 0!important
}

.topnaturala-say img
{
	width: 100%
}

.powerby
{
	text-align: center;
	margin: 1.4rem 0;
	font-size: .6rem
}

.powerby .icon-lightbulb
{
	font-size: .56rem
}

.timeline
{
	background: #feebed;
	color: #eb4f38;
	padding: 1rem .7rem;
	font-weight: 400
}

.timeline .times
{
	float: right
}

.timeline .times .time
{
	background-color: #eb4f38;
	color: #fff;
	font-size: .7rem;
	border-radius: .2rem;
	margin: 0 .12rem;
	padding: .16rem .12rem
}

.block-page-bottom
{
	margin-top: 1rem;
	width: 100%
}

.block-page-bottom img
{
	width: 100%
}

.split
{
	padding: .7rem 0;
	margin: 0 .7rem;
	text-align: center;
	position: relative
}

.split:before
{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	height: 1px;
	width: 100%;
	background-color: #dedede
}

@media only screen and (-webkit-min-device-pixel-ratio:2)
{
	.split:before
	{
		-ms-transform: scaleY(.5);
		transform: scaleY(.5);
		-ms-transform-origin: 50% 100%;
		transform-origin: 50% 100%
	}
}

.split span
{
	position: relative;
	background-color: #f6f6f6;
	z-index: 1;
	padding: 0 .4rem;
	color: #999;
	font-size: .76rem
}

.shopping-bar~.content
{
	bottom: 2.8rem
}

.shopping-bar
{
	bottom: 0;
	width: 100%;
	height: 2.8rem;
	padding: 0;
	table-layout: fixed;
	background-color: #fff
}

.shopping-bar:before
{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: auto;
	right: auto;
	height: 1px;
	width: 100%;
	background-color: #ccc;
	display: block;
	z-index: 3;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0
}

@media only screen and (-webkit-min-device-pixel-ratio:2)
{
	.shopping-bar:before
	{
		-ms-transform: scaleY(.5);
		transform: scaleY(.5)
	}
}

@media only screen and (-webkit-min-device-pixel-ratio:3)
{
	.shopping-bar:before
	{
		-ms-transform: scaleY(.33);
		transform: scaleY(.33)
	}
}

.shopping-bar .tab-container
{
	width: 6rem
}

.shopping-bar .tab-container .tab-item
{
	position: relative;
	display: table-cell;
	width: 1%;
	height: 2.8rem;
	color: #929292;
	text-align: center;
	vertical-align: middle
}

.shopping-bar .tab-container .tab-item:after
{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	left: auto;
	bottom: auto;
	width: 1px;
	height: 100%;
	background-color: #ccc;
	display: block;
	z-index: 3;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%
}

@media only screen and (-webkit-min-device-pixel-ratio:2)
{
	.shopping-bar .tab-container .tab-item:after
	{
		-ms-transform: scaleX(.5);
		transform: scaleX(.5)
	}
}

@media only screen and (-webkit-min-device-pixel-ratio:3)
{
	.shopping-bar .tab-container .tab-item:after
	{
		-ms-transform: scaleX(.33);
		transform: scaleX(.33)
	}
}

.shopping-bar .tab-container .tab-item.avtive,.shopping-bar .tab-container .tab-item:active
{
	color: #acc92c
}

.shopping-bar .tab-container .tab-item .icon
{
	top: .05rem;
	height: 1.2rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
	padding-top: 0;
	padding-bottom: 0
}

.shopping-bar .tab-container .tab-item .icon~.tab-label
{
	display: block;
	font-size: .55rem;
	position: relative;
	top: .15rem
}

.shopping-bar .shopping-infos
{
	width: 6rem;
	float: left;
	height: 100%;
	text-align: center
}

.shopping-bar .shopping-infos .sum
{
	font-size: .8rem;
	margin-top: .3rem
}

.shopping-bar .shopping-infos .sum .sum-cost
{
	color: #ff9200
}

.shopping-bar .shopping-infos .count
{
	font-size: .4rem
}

.shopping-bar .shopping-btns
{
	position: absolute;
	top: 0;
	left: 6rem
}

.shopping-bar .shopping-btns .shopping-btn
{
	position: relative;
	display: table-cell;
	width: 1%;
	height: 2.8rem;
	color: #fff;
	text-align: center;
	vertical-align: middle
}

.shopping-bar .shopping-btns .shopping-btn.add,.shopping-bar .shopping-btns .shopping-btn.buy-more
{
	background-color: #acc92c
}

.shopping-bar .shopping-btns .shopping-btn.buy-more
{
	width: .6%
}

.shopping-bar .shopping-btns .shopping-btn.checkout-now,.shopping-bar .shopping-btns .shopping-btn.gotoCheck
{
	background-color: #ff9200
}

.shopping-bar.single-btn .shopping-infos
{
	width: 12rem;
	text-align: left;
	padding-left: 1rem
}

.shopping-bar.single-btn .shopping-btns
{
	left: 12rem
}

.popup-model-list
{
	height: auto;
	top: 40%;
	width: 80%;
	left: 10%;
	border-radius: .3rem;
	padding: .4rem;
	text-align: left
}

.popup-model-list .model-item
{
	padding: .4rem 0;
	border-bottom: 1px solid #ddd
}

.popup-model-list .model-item:last-child
{
	border-bottom: none
}

.num-controller
{
	text-align: center;
	font-size: 1rem
}

.num-controller span
{
	display: inline-block;
	float: left;
	background-color: #fbfbfb;
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 1rem
}

.num-controller .num
{
	width: 3rem
}

.num-controller .icon
{
	padding-left: .5rem;
	padding-right: .5rem
}

.num-controller .icon-minus
{
	margin-right: 1px
}

.num-controller .icon-plus
{
	margin-left: 1px
}

.popup-bottom
{
	top: auto;
	bottom: 0;
	height: 8rem
}

.popup-bottom .poppup-bottom-title
{
	height: 2.6rem;
	line-height: 2.6rem;
	text-indent: .8rem;
	position: relative
}

.popup-bottom .poppup-bottom-title:after
{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: auto;
	top: auto;
	height: 1px;
	width: 100%;
	background-color: #dedede;
	display: block;
	z-index: 3;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%
}

@media only screen and (-webkit-min-device-pixel-ratio:2)
{
	.popup-bottom .poppup-bottom-title:after
	{
		-ms-transform: scaleY(.5);
		transform: scaleY(.5)
	}
}

@media only screen and (-webkit-min-device-pixel-ratio:3)
{
	.popup-bottom .poppup-bottom-title:after
	{
		-ms-transform: scaleY(.33);
		transform: scaleY(.33)
	}
}

.popup-bottom .poppup-bottom-close
{
	position: absolute;
	top: .34rem;
	right: .4rem;
	padding: .6rem;
	line-height: 0;
	cursor: pointer
}

.popup-bottom.popup-pay-choice .pay-choice-list
{
	margin-top: 1rem;
	text-align: center
}

.popup-bottom.popup-pay-choice .pay-choice-list a
{
	position: relative;
	width: 40%;
	text-align: center;
	display: inline-block;
	font-size: .7rem
}

.popup-bottom.popup-pay-choice .pay-choice-list a img
{
	width: 2rem;
	margin-bottom: .2rem
}

.popup-bottom.popup-pay-choice .pay-choice-list a .vip-only-txt
{
	visibility: hidden;
	position: relative;
	top: -60px;
	font-size: .8rem;
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
	color: #eb4f38
}

.popup-bottom.popup-pay-choice .pay-choice-list a.vip-only
{
	opacity: .76
}

.popup-bottom.popup-pay-choice .pay-choice-list a.vip-only .vip-only-txt
{
	visibility: visible
}

.color-warning
{
	color: #ff9200!important
}

.color-danger
{
	color: #eb4f38!important
}

.color-gray
{
	color: #ccc
}

.color-price
{
	color: #ff9200
}

.toast-icon
{
	text-align: center
}

.toast-icon i
{
	width: 2rem;
	height: 2rem;
	margin: .4rem;
	display: inline-block
}

.toast-icon i.icon-happy
{
	background: url(/static/images/icons/icon-happy.png) 50% no-repeat;
	background-size: 100% 100%
}

.toast-icon i.icon-sad
{
	background: url(/static/images/icons/icon-sad.png) 50% no-repeat;
	background-size: 100% 100%
}

.toast-icon i.icon-question
{
	background: url(/static/images/icons/icon-question.png) 50% no-repeat;
	background-size: 100% 100%
}

.i
{
	display: inline-block;
	width: .84rem;
	height: .84rem;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: contain
}

.i-vip
{
	background-image: url(/static/images/icons/vip.png)
}

.i-money
{
	background-image: url(/static/images/icons/money.png)
}

.i-charge
{
	background-image: url(/static/images/icons/charge.png)
}

.i-pay
{
	background-image: url(/static/images/icons/pay.png)
}

.i-delivery
{
	background-image: url(/static/images/icons/delivery.png)
}

.i-comment
{
	background-image: url(/static/images/icons/comment.png)
}

.i-succese
{
	background-image: url(/static/images/icons/succese.png)
}

.i-order
{
	background-image: url(/static/images/icons/order.png)
}

.i-fav
{
	background-image: url(/static/images/icons/fav.png)
}

.i-location
{
	background-image: url(/static/images/icons/location.png)
}

.i-pravite
{
	background-image: url(/static/images/icons/pravite.png)
}

.i-people
{
	background-image: url(/static/images/icons/people.png)
}

.i-infos
{
	background-image: url(/static/images/icons/infos.png)
}

.i-weixin
{
	background-image: url(/static/images/icons/weixin.png)
}

.i-delete
{
	background-image: url(/static/images/icons/delete.png)
}

.i-close
{
	background-image: url(/static/images/icons/close.png)
}

.i-check-yes
{
	background-image: url(/static/images/icons/check-yes.png)
}

.i-check-no
{
	background-image: url(/static/images/icons/check-no.png)
}

.i-avatar
{
	background-image: url(/static/images/icons/avatar.png)
}

.i-clock
{
	background-image: url(/static/images/icons/clock.png)
}

.i-pause
{
	background-image: url(/static/images/icons/pause.png)
}

.i-phone
{
	background-image: url(/static/images/icons/phone.png)
}

.i-vmoney
{
	background-image: url(/static/images/icons/vmoney.png)
}

.i-shopping
{
	background-image: url(/static/images/icons/shopping.png)
}

.i-lou
{
	background-image: url(/static/images/icons/lou.png)
}

.i-you
{
	background-image: url(/static/images/icons/you.png)
}

.i-cart-circle
{
	background-image: url(/static/images/icons/cart-circle.png);
	width: 1.2rem;
	height: 1.2rem
}

.i-delete-circle
{
	background-image: url(/static/images/icons/delete-circle.png);
	width: 1.2rem;
	height: 1.2rem
}

.i-edit-circle
{
	background-image: url(/static/images/icons/edit-circle.png)
}

.i-edit-circle,.i-order2
{
	width: 1.2rem;
	height: 1.2rem
}

.i-order2
{
	background-image: url(/static/images/icons/order2.png)
}

.i-complete
{
	background-image: url(/static/images/icons/complete.png)
}

.i-complete,.i-vip-circle
{
	width: 1.8rem;
	height: 1.8rem
}

.i-vip-circle
{
	background-image: url(/static/images/icons/vip-circle.png)
}

.i-fav-circle
{
	background-image: url(/static/images/icons/fav-circle.png);
	width: 1.8rem;
	height: 1.8rem
}

.i-discount-circle
{
	background-image: url(/static/images/icons/discount-circle.png);
	width: 1.8rem;
	height: 1.8rem
}

.i-hot-circle
{
	background-image: url(/static/images/icons/hot-circle.png);
	width: 1.8rem;
	height: 1.8rem
}

.btn-disabled,.btn-primary,.btn-secondry
{
	float: right;
	font-size: .7rem;
	margin-left: .4rem;
	color: #fff;
	padding: .2rem 1rem;
	border-radius: .2rem
}

.btn-primary
{
	background-color: #acc92c
}

.btn-secondry
{
	background-color: #ff9200
}

.btn-disabled
{
	background-color: #aaa
}

.check-btn-group i
{
	font-size: .6rem;
	font-style: normal;
	margin-left: .4rem;
	border: 1px solid #dedede;
	border-radius: 1rem;
	padding: .2rem .8rem
}

.check-btn-group i.checked
{
	background-color: #d8d8d8
}

.warning-tips
{
	color: #ff9200;
	font-size: .6rem;
	height: 2rem;
	margin: .8rem .7rem
}

a,a:active
{
	color: #666
}

.list-block
{
	margin: .8rem 0
}

.banner-swiper
{
	width: 100%;
	padding-bottom: 0
}

.swiper-slide img
{
	width: 100%
}

.swiper-pagination-bullet-active
{
	background-color: #acc92c
}

.swiper-container-horizontal>.swiper-pagination
{
	bottom: 4px
}

.searchbar
{
	margin: .6rem;
	height: auto
}

.searchbar .search-input input
{
	height: 1.6rem;
	border-radius: .8rem;
	border: 1px solid #dedede
}

.searchbar .search-input label+input
{
	padding-left: 1.8rem
}

.searchbar .search-input .icon
{
	left: .7rem;
	color: #acc92c
}

.bar-tab~.content
{
	bottom: 2.8rem
}

.bar-tab
{
	background-color: #fff
}

.bar-tab,.bar-tab .tab-item
{
	height: 2.8rem
}

.bar-tab .tab-item .icon
{
	top: .12rem;
	height: 1rem;
	font-size: 1rem;
	line-height: 1rem
}

.button,.button.button-fill
{
	height: 2rem;
	line-height: 2rem
}

.button.button-gray
{
	color: #666;
	background-color: #dedede
}

.list-block .item-title
{
	overflow: visible
}

.label-switch
{
	float: right;
	margin-right: .2rem
}

.bar-nav .icon-left:before
{
	padding-right: 1rem
}

.label-switch input[type=checkbox]:checked+.checkbox
{
	background-color: #acc92c
}

.picker-modal.tiny-dt-picker
{
	background-color: #fff
}

.picker-modal.tiny-dt-picker .picker-item
{
	padding: 0 1.2rem
}

.picker-modal.tiny-dt-picker header
{
	background-color: #acc92c;
	color: #fff!important;
	border-radius: .2rem
}

.picker-modal.tiny-dt-picker .bar .button-link,.picker-modal.tiny-dt-picker .bar .title
{
	color: #fff
}

.picker-modal.tiny-dt-picker .bar:after,.picker-modal.tiny-dt-picker .bar:before
{
	background-color: transparent
}

.entry
{
	padding: .4rem 0;
	text-align: center
}

.entry .entry-item
{
	padding: .4rem
}

.entry .entry-item:active
{
	background-color: #eee
}

.entry img
{
	width: 1.6rem;
	height: 1.6rem
}

.entry .entry-label
{
	font-size: .6rem
}

.recommend
{
	text-align: center
}

.recommend .goods-name
{
	font-size: .66rem;
	color: #333
}

.recommend .goods-info
{
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: .6rem
}

.recommend .goods-pic
{
	max-width: 100%;
	max-height: 100%
}

.page-select .slogan
{
	text-align: center;
	line-height: 2rem;
	background-color: #fff
}

.page-select .select-h
{
	font-size: .7rem;
	line-height: 1;
	padding-left: .6rem;
	border-left: .1rem solid #acc92c
}

.page-select .select-day
{
	margin-top: 0
}

.page-select .days
{
	background-color: #f6f6f6;
	margin-top: .8rem;
	padding: .2rem 0
}

.page-select .days .day
{
	font-size: .6rem;
	position: relative;
	display: table-cell;
	width: 1%;
	text-align: center;
	vertical-align: middle
}

.page-select .days .day .icon
{
	display: none;
	color: #acc92c;
	font-size: 1rem
}

.page-select .days .day.on .day-name
{
	display: none
}

.page-select .days .day.on .icon
{
	display: block
}

.page-select .day-choose
{
	margin-top: .5rem;
	font-size: .7rem
}

.page-select .day-choose span
{
	margin-right: 1rem;
	font-size: .7rem;
	background-color: #acc92c;
	color: #fff;
	line-height: 1;
	padding: .1rem .4rem .2rem
}

.page-select .selection
{
	padding: .1rem .7rem
}

.page-select .selection .selection-item
{
	position: relative;
	height: 1.8rem;
	margin: 1rem 0
}

.page-select .selection .selection-item .name
{
	position: absolute;
	top: .34rem;
	width: 7rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.page-select .selection .selection-item .price
{
	position: absolute;
	top: .4rem;
	left: 7.4rem;
	font-size: .74rem;
	color: #999
}

.page-select .selection .selection-item .price .price-num
{
	color: #ff9200
}

.page-select .selection .selection-item .price .price-per
{
	color: #acc92c
}

.page-select .selection .selection-item .num-controller
{
	position: absolute;
	right: 0;
	top: 0
}

.page-select .selection .selection-item .num-controller .num
{
	width: 2rem
}

.page-select .selection .selection-item .tips
{
	position: absolute;
	right: 0;
	top: .44rem;
	color: #eb4f38;
	font-size: .6rem
}

.page-select .address .icon
{
	margin-right: .6rem;
	line-height: .6
}

.page-select .extra .item-title.label
{
	width: 3rem
}

.page-select .list-block
{
	margin: .8rem 0
}

.page-select .list-block .item-inner:after,.page-select .list-block ul:after,.page-select .list-block ul:before
{
	display: none
}

.page-select .button-auto
{
	margin-top: .4rem
}

.page-auto .input-block
{
	margin: .6rem 0;
	background-color: #fafafa
}

.page-auto .input-block .button
{
	padding: 0 2rem
}

.page-auto .list-block .item-content
{
	margin-right: .7rem;
	padding-left: .7rem
}

.page-goods-detail .goods-sold
{
	position: relative;
	background-color: #fff;
	padding: .7rem;
	margin: 0
}

.page-goods-detail .goods-sold p
{
	margin: .2rem 0 0
}

.page-goods-detail .goods-sold p .goods-price
{
	color: #ff9200
}

.page-goods-detail .goods-sold p .tips
{
	position: absolute;
	margin-top: .3rem;
	margin-left: 1rem;
	font-size: .5rem;
	padding: .14rem .3rem .08rem;
	line-height: 1;
	color: #fff;
	background-color: #eb4f38;
	border-radius: .2rem
}

.page-goods-detail .goods-sold .goods-discount
{
	font-size: .6rem;
	color: #ccc
}

.page-goods-detail .goods-sold .icon
{
	position: absolute;
	top: .6rem;
	right: .7rem;
	font-size: 1.2rem;
	color: #ccc
}

.page-goods-detail .goods-sold .icon-heart.added:before
{
	color: #eb4f38
}

.page-goods-detail .goods-info-1
{
	margin: 0!important
}

.page-goods-detail .list-block
{
	margin: .8rem 0
}

.page-goods-detail .list-block.list-block-padded
{
	margin: .8rem .7rem
}

.page-goods-detail .list-block .item-content
{
	margin-right: .7rem;
	padding-left: .7rem
}

.page-goods-detail .list-block .item-media+.item-inner
{
	margin-left: 0
}

.page-goods-detail .list-block ul:after,.page-goods-detail .list-block ul:before
{
	height: 0
}

.page-goods-detail .goods-description
{
	margin: .8rem
}

.page-goods-detail .goods-description img
{
	width: 100%
}

.page-goods-detail .split
{
	margin-top: -.8rem
}

.popup-goods-controls
{
	height: 12rem;
	overflow: visible
}

.popup-goods-controls .poppup-bottom-close
{
	top: 0;
	right: .2rem
}

.popup-goods-controls .popup-bottom-content
{
	height: 100%
}

.popup-goods-controls .popup-bottom-content .goods-controls-picture
{
	position: absolute;
	width: 6rem;
	height: 6rem;
	top: -2rem;
	left: .8rem;
	border: .2rem solid #fff;
	border-radius: .3rem;
	z-index: 1;
	box-shadow: 0 1px 2px #aaa
}

.popup-goods-controls .popup-bottom-content .goods-controls-infos
{
	margin-left: 8rem
}

.popup-goods-controls .popup-bottom-content .goods-controls-infos .goods-controls-infos-price
{
	margin-top: .6rem;
	color: #ff9200
}

.popup-goods-controls .popup-bottom-content .goods-controls-selection
{
	margin-top: 2.6rem;
	margin-left: .8rem;
	margin-right: .8rem
}

.popup-goods-controls .popup-bottom-content .goods-controls-selection .selection-label
{
	float: left
}

.popup-goods-controls .popup-bottom-content .goods-controls-selection .num-controller
{
	float: right
}

.popup-goods-controls .shopping-bar
{
	position: absolute;
	bottom: 0
}

.popup-goods-controls .shopping-bar .shopping-btns
{
	position: absolute;
	top: 0;
	left: 0
}

.page-usercenter .user-info .avatar
{
	position: relative;
	float: left;
	width: 3rem;
	height: 3rem;
	margin-right: .5rem;
	border-radius: .2rem
}

.page-usercenter .user-info .phone
{
	position: absolute;
	margin-top: .4rem
}

.page-usercenter .user-info .name
{
	position: absolute;
	margin-top: .5rem;
	color: #ccc;
	font-size: .7rem
}

.page-usercenter .edit
{
	position: absolute;
	top: 1.4rem;
	right: .8rem
}

.page-usercenter .edit i
{
	width: 1.2rem;
	height: 1.2rem
}

.page-usercenter .vip-links
{
	margin-top: .6rem;
	height: 2.4rem
}

.page-usercenter .vip-links a
{
	text-align: center
}

.page-usercenter .vip-links i
{
	margin-right: .2rem;
	line-height: .8rem
}

.page-usercenter .vip-links .txt
{
	display: block;
	font-size: .6rem;
	color: #ccc
}

.page-usercenter .order-links
{
	text-align: center
}

.page-usercenter .order-links .txt
{
	display: block;
	font-size: .6rem
}

.page-usercenter .logout
{
	text-align: center
}

.page-usercenter .logout a
{
	display: block
}

.page-cart .i-check-no
{
	display: inline-block
}

.page-cart .i-check-yes
{
	display: none
}

.page-cart .check-all .btn-del
{
	position: absolute;
	right: .8rem;
	top: .4rem;
	padding: .5rem
}

.page-cart .check-all .btn-check
{
	position: absolute;
	top: .4rem;
	left: .3rem;
	padding: .5rem
}

.page-cart .check-all label
{
	line-height: 1.4rem;
	margin-left: 1.6rem
}

.page-cart .check-all.checked .i-check-yes
{
	display: inline-block
}

.page-cart .check-all.checked .i-check-no
{
	display: none
}

.page-cart .cart-goods .btn-check
{
	position: absolute;
	left: .2rem;
	top: 50%;
	padding: .5rem;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.page-cart .cart-goods.checked .i-check-yes
{
	display: inline-block
}

.page-cart .cart-goods.checked .i-check-no
{
	display: none
}

.page-cart .cart-goods .cart-pic
{
	float: left;
	margin-left: 1.6rem;
	margin-right: 1rem;
	height: 5.6rem;
	width: 5.6rem;
	border-radius: .2rem
}

.page-cart .cart-goods .cart-model,.page-cart .cart-goods .cart-name
{
	font-size: .7rem
}

.page-cart .cart-goods .cart-price
{
	margin: .2rem 0;
	color: #ff9200
}

.page-cart .cart-goods .num-controller .icon
{
	padding-left: .8rem;
	padding-right: .8rem
}

.page-collection .cart-pic
{
	float: left;
	margin-right: 1rem;
	border-radius: .3rem;
	height: 5.6rem
}

.page-collection .cart-name
{
	margin-top: .4rem;
	font-size: .7rem
}

.page-collection .cart-price
{
	margin: .3rem 0;
	color: #ff9200
}

.page-collection .btns
{
	float: right
}

.page-collection .btns .i
{
	margin-left: .4rem
}

.page-pageProfile .avatar
{
	text-align: center
}

.page-pageProfile .avatar img
{
	width: 6rem;
	height: 6rem;
	border-radius: .3rem
}

.page-pageProfile .avatar .edit
{
	position: absolute;
	bottom: .6rem;
	left: 13.4rem
}

.page-pageProfile .avatar .edit .i-edit-cicle
{
	height: 1.2rem;
	width: 1.2rem
}

.page-pageProfile .profile-item
{
	position: relative;
	margin: .3rem .8rem;
	padding: .76rem 1rem;
	background-color: #fff;
	border-radius: .2rem;
	border: 1px solid transparent
}

.page-pageProfile .profile-item.invalid
{
	border: 1px solid #eb4f38
}

.page-pageProfile .profile-item .i
{
	position: absolute;
	margin-top: .3rem;
	width: 1.4rem
}

.page-pageProfile .profile-item input
{
	width: 13rem;
	margin-left: 1.4rem
}

.page-pageProfile .profile-item .icon-right
{
	position: absolute;
	right: .8rem;
	top: .9rem
}

.page-login .user-page-link
{
	text-align: center;
	font-size: .6rem
}

.page-login .user-page-link p
{
	color: #ccc
}

.page-login .user-page-link p a
{
	display: inline-block;
	padding: .4rem;
	/*color: #ccc*/
	color: #1F1616
}

.page-login .user-page-link p:first-child
{
	margin-top: 3rem
}

.page-address-add .address-phone,.page-address-edit .address-phone,.page-address .address-phone,.page-checkout .address-phone
{
	float: right
}

.page-address-add .address-location,.page-address-edit .address-location,.page-address .address-location,.page-checkout .address-location
{
	margin-top: .6rem
}

.page-address-add .edit-btns,.page-address-edit .edit-btns,.page-address .edit-btns,.page-checkout .edit-btns
{
	margin-top: 1rem;
	float: right
}

.page-address-add .edit-btns .i,.page-address-edit .edit-btns .i,.page-address .edit-btns .i,.page-checkout .edit-btns .i
{
	margin-left: .6rem
}

.page-address-add .btn-address,.page-address-edit .btn-address,.page-address .btn-address,.page-checkout .btn-address
{
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 2.4rem;
	line-height: 2.4rem;
	background-color: #acc92c;
	color: #fff
}

.page-address-add .input-line,.page-address-edit .input-line,.page-address .input-line,.page-checkout .input-line
{
	margin: .2rem 0;
	padding: .4rem;
	border: 1px solid transparent;
	font-size: .7rem
}

.page-address-add .input-line.invalid,.page-address-edit .input-line.invalid,.page-address .input-line.invalid,.page-checkout .input-line.invalid
{
	border: 1px solid #eb4f38
}

.page-address-add .input-line:first-child,.page-address-edit .input-line:first-child,.page-address .input-line:first-child,.page-checkout .input-line:first-child
{
	margin-top: .2rem
}

.page-address-add .input-line:last-child,.page-address-edit .input-line:last-child,.page-address .input-line:last-child,.page-checkout .input-line:last-child
{
	margin-bottom: .2rem
}

.page-address-add .input-line label,.page-address-edit .input-line label,.page-address .input-line label,.page-checkout .input-line label
{
	position: absolute;
	width: 4rem
}

.page-address-add .input-line input,.page-address-edit .input-line input,.page-address .input-line input,.page-checkout .input-line input
{
	width: 12rem;
	margin-left: 4rem
}

.page-checkout .address-show
{
	display: block;
	height: 2rem;
	line-height: 2rem;
	padding-left: .8rem;
	background-color: #fafafa
}

.page-checkout .address-show .icon-right
{
	float: right;
	margin-right: .8rem
}

.page-checkout .address-item
{
	margin: 0!important;
	border-bottom: 1px solid #dedede
}

.page-checkout .checkout-goods-list
{
	position: relative;
	margin-top: .8rem;
	height: 2rem;
	background-color: #fff
}

.page-checkout .checkout-goods-list .lb
{
	position: relative
}

.page-checkout .checkout-goods-list .lb .i
{
	position: absolute;
	left: .8rem;
	top: .6rem
}

.page-checkout .checkout-goods-list .lb label
{
	position: relative;
	line-height: 2;
	top: .2rem;
	margin-left: 2.2rem
}

.page-checkout .checkout-goods-list .order-goods
{
	margin: 0
}

.page-checkout .order-pic
{
	float: left;
	margin-right: 1rem;
	height: 5.6rem;
	width: 5.6rem
}

.page-checkout .order-name
{
	margin-top: .4rem;
	font-size: .7rem
}

.page-checkout .order-case
{
	color: #ccc;
	font-size: .7rem;
	font-weight: 400
}

.page-checkout .order-price
{
	margin: .3rem 0;
	color: #ff9200
}

.page-checkout .order-price del
{
	margin-left: .4rem;
	font-size: .6rem;
	color: #ccc
}

.page-checkout .btns
{
	float: right
}

.page-checkout .btns .i
{
	margin-left: .4rem
}

.page-checkout .extra
{
	margin-bottom: 2rem
}

.page-checkout .extra .item-title.label
{
	width: 3rem
}

.page-checkout .list-block
{
	margin: .8rem 0
}

.page-checkout .list-block ul:after,.page-checkout .list-block ul:before
{
	display: none
}

.page-checkout .list-block .item-content
{
	padding-left: 0
}

.page-checkout .list-block .item-inner
{
	padding-right: 0
}

.page-checkout .list-block .item-inner:after
{
	display: none
}

.page-vip .vip-info
{
	line-height: 0
}

.page-vip .vip-info img
{
	float: left;
	width: 2.8rem;
	margin-right: .4rem
}

.page-vip .vip-info .vip-mine
{
	line-height: 1;
	margin-top: .5rem;
	font-size: .7rem
}

.page-vip .vip-info .vip-mine .username
{
	margin-right: .4rem
}

.page-vip .vip-info .vip-mine .vip-type
{
	font-size: .4rem
}

.page-vip .vip-info .vip-mine .serial-num
{
	font-size: .5rem;
	margin-top: .5rem
}

.page-vip .vip-controls .balance
{
	font-size: .7rem;
	float: right
}

.page-vip .vip-controls .balance span
{
	font-size: .66rem
}

.page-vip .vip-controls .vip-btns
{
	float: right;
	margin-top: .4rem
}

.page-vip-charge .record
{
	z-index: 4;
	position: absolute;
	top: .7rem;
	right: 1rem;
	font-size: .5rem;
	color: #666
}

.page-vip-charge .vip-cards-list
{
	margin: .8rem .7rem;
	background: transparent
}

.page-vip-charge .vip-cards-list li
{
	background: #fff;
	padding: .3rem 0;
	text-align: center;
	margin-bottom: .8rem;
	border: 1px solid transparent;
	border-radius: .2rem;
	line-height: 1.2;
	font-size: .72rem;
	color: #888
}

.page-vip-charge .vip-cards-list li.selected
{
	color: #acc92c;
	border: 1px solid #acc92c
}

.page-vip-charge .vip-cards-list li.selected .rmb
{
	color: #acc92c
}

.page-vip-charge .vip-cards-list li .rmb
{
	font-size: .65rem;
	color: #aaa
}

.page-vip-charge .balance
{
	text-align: right;
	margin-right: 1.2rem;
	font-size: .5rem
}

.page-vip-charge .balance span
{
	color: #eb4f38;
	font-size: .6rem
}

.page-vip-charge .discount-info
{
	margin-left: .8rem;
	font-size: .76rem
}

.page-vip-charge-record .balance
{
	padding: .4rem;
	margin: .7rem;
	text-align: center;
	font-size: .5rem;
	color: #666;
	border-radius: .3rem
}

.page-vip-charge-record .balance span
{
	color: #eb4f38;
	font-size: .65rem
}

.page-vip-charge-record .record-list
{
	padding: .4rem;
	margin: .7rem;
	font-size: .76rem;
	color: #999;
	border-radius: .3rem
}

.page-vip-charge-record .record-list li
{
	padding: .3rem 0
}

.page-vip-charge-record .record-list li .time
{
	float: left
}

.page-vip-charge-record .record-list li .ideal
{
	float: right;
	margin-right: .2rem
}

.page-vip-charge-record .record-list li .rmb
{
	float: right;
	color: #aaa;
	font-size: .6rem;
	line-height: 2
}

.page-vip-card,.page-vip-charge-record .record-list-empty
{
	text-align: center
}

.page-vip-card img
{
	width: 6rem
}

.page-vip-card .input-item
{
	position: relative;
	margin: .3rem .8rem;
	padding: .76rem 1rem;
	background-color: #fff;
	border-radius: .2rem;
	border: 1px solid transparent
}

.page-vip-card .input-item.invalid
{
	border: 1px solid #eb4f38
}

.page-vip-card .input-item .i
{
	position: absolute;
	margin-top: .3rem;
	width: 1.4rem
}

.page-vip-card .input-item input
{
	width: 13rem
}

.page-vip-card .input-item .icon-right
{
	position: absolute;
	right: .8rem;
	top: .9rem
}

.page-about .our-info
{
	margin: .8rem;
	padding: 1rem;
	background-color: #fff;
	border-radius: .4rem
}

.page-about .our-info p
{
	text-indent: 1.2rem;
	line-height: 1.7;
	margin-bottom: 1.2rem;
	font-size: .76rem
}

.page-contact .contact-info .line
{
	margin: .6rem 0
}

.page-contact .contact-info label
{
	position: absolute;
	width: 4rem
}

.page-contact .contact-info .txt
{
	margin-left: 6rem
}

.page-contact .mack-call
{
	position: absolute;
	right: .8rem;
	padding-left: 1rem;
	padding-right: 1rem
}

.page-contact .contact-comments
{
	margin-top: 3.6rem;
	padding: 1rem;
	border-radius: .4rem
}

.page-contact .contact-comments img
{
	width: 100%
}

.page-contact .contact-comments p
{
	text-indent: 1.2rem;
	line-height: 1.7;
	margin-bottom: 1.2rem;
	font-size: .76rem
}

.page-invite .invite-content
{
	margin: .8rem;
	padding: 1rem;
	background-color: #fff;
	border-radius: .4rem
}

.page-invite .invite-content p
{
	text-indent: 1.2rem;
	line-height: 1.7;
	margin-bottom: 1.2rem;
	font-size: .76rem
}

.page-invite .slogans
{
	position: absolute;
	bottom: 0
}

.page-order .order-item .i-you
{
	position: relative;
	top: .12rem
}

.page-order .order-item .i-complete,.page-order .order-item .i-delete-circle
{
	position: absolute;
	right: .6rem;
	top: .6rem;
	z-index: 2
}

.page-order .order-item .order-title
{
	position: relative;
	padding-top: .4rem;
	padding-left: .7rem;
	color: #333;
	background-color: #fff
}

.page-order .order-item .order-title label
{
	margin-left: .3rem
}

.page-order .order-item .order-goods
{
	margin: 0!important
}

.page-order .order-item .goods-pic
{
	height: 5.6rem;
	float: left;
	margin-right: 1rem
}

.page-order .order-item .goods-name
{
	margin-top: 1rem;
	font-size: .7rem;
	color: #333
}

.page-order .order-item .goods-price
{
	color: #ff9200
}

.page-order .order-item .order-time
{
	position: absolute;
	bottom: 1rem;
	left: .8rem;
	font-size: .7rem
}

.page-order .order-item .order-controls
{
	font-size: .7rem;
	margin: .4rem 0 1.4rem
}

.page-order .order-item .order-controls .order-counts
{
	float: right
}

.page-order .order-item .order-controls .order-counts i
{
	font-style: normal
}

.page-order .order-item .order-controls .order-express
{
	margin: .6rem 0
}

.page-order .order-item .order-controls .order-express p
{
	float: right
}

.page-order .order-item .order-controls .order-btns
{
	margin-top: .8rem
}

.page-order .datatime
{
	display: inline;
	text-align: right;
	float: right
}