body{
	margin: 0;
	padding: 0;
}

.container{
	width:960px;
	margin:0 auto;
}

@media screen and(max-width:768px){
	.container{
		width:100%;
	}
}

button.accordion{
	back
	ground-color: #eee;
	color: 444;
	cursor: pointer;
	padding: 18px;
	width:100%;
	text-align: left;
	border:none;
	outline: none;
	font-size: 15px;
	transition: 1s;
}

button.accordion.active,button.accordion:hover{
	background-color: #ddd;
}

div.panel{
	padding:0 18px;
	background-color:white;
	max-height: 0;
	overflow: hidden;
	transition:max-height: 0.2s;
}

button.accordion:after{
	content: '\02795';
	font-size: 13px;
	color:777;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after{
	content:'\02796';
}